h1, h2{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

body{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}
#headContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#title{
    flex: 325px;
    position: relative;
    text-align: left;
}
#TopRightContainer{
    flex: 480px;
    width: 500px;
    position: relative;
    text-align: right;
}
#authForm{
    position:absolute;
    width: 600px;
    top: 0;
    right:0;
    text-align: right;
}
#loggedInUserBlock{
    position:absolute;
    top: 0;
    right:0;
    text-align: right;
}
#emailDiv, #passwordDiv, #buttonDiv{
    display: inline-block;
}
#labelEmail, #labelPassword{
    width: 60px;
    text-align: right;
}
#email, #password{
    display: flex;
    width: 140px;
}

#labelEmail, #email {
    display: inline-block;
}
#labelPassword, #password {
    display: inline-block;
}
#btn_LogIn, #btn_SignUp {
    display: inline-block;
}
#UserInfo, #btn_LogOut {
    display: inline-block;
}
@media only screen and (max-width: 830px){
    #emailDiv, #passwordDiv, #buttonDiv{
        display: block;
    }
    
}
@media only screen and (max-width: 550px){
    #title{
        width: 100%;
        flex-direction: column;
        text-align:center;
    }
    #TopRightContainer{
        flex-direction: column;
        width:100%;
        align-items: center;
        text-align: center;
    }
    #authForm{
        display:block;
        width: 250px;
        text-align:center;
    }
    #emailDiv{
        width: 250px;
        align-items:center;
        text-align:center;
    }
    #passwordDiv{
        width: 250px;
        align-items:center;
        text-align:center;
    }

}
