h1, h2{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

body{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}
#headContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#title{
    text-align: left;
}
#TopRightContainer{
    flex: 480px;
    width: 500px;
    position: relative;
    text-align: right;
}
#authForm{
    display: inline-block;
    width: 500px;
    text-align: right;
}
#loggedInUserBlock{
    display: inline-block;
    text-align: right;
}
#emailDiv, #passwordDiv, #buttonDiv{
    display: inline-block;
}
#labelEmail, #labelPassword{
    width: 45px;
    text-align: right;
}
#email, #password{
    display: flex;
    width: 140px;
}

#labelEmail, #email {
    display: inline-block;
}
#labelPassword, #password {
    display: inline-block;
}
#btn_LogIn, #btn_SignUp {
    display: inline-block;
}
#UserInfo, #btn_LogOut {
    display: inline-block;
}
@media only screen and (max-width: 800px){
    #headContainer{
        display:block;
        justify-content: space-between;
        align-items: center;
    }
    #title{
        width: 100%;
        flex-direction: column;
        text-align:center;
    }
    
}
@media only screen and (max-width: 550px){
    #headContainer{
        display:block;
        justify-content: space-between;
        align-items: center;
    }
    #title{
        width: 100%;
        flex-direction: column;
        text-align:center;
    }
    #authForm{
        display:block;
        width: 250px;
        text-align:center;
        align-items: center;
    }

}
